*, *::before, *::after {
    box-sizing: border-box;
}

body {
    @include font-standard;
    color: var(--color-gray-900);
    background-color: var(--color-white);
    margin: 0;
}

a {
    @include font-standard;
    color: var(--color-theme);
    font-size: 1em;
    display: inline-block;

    &:active,
    &:visited,
    &:focus,
    &:hover {
        color: var(--color-theme);
    }

    &:hover {
        text-decoration: none;
    }
}


.wrapper {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.nav-link {
    @include font-semibold;
    color: var(--color-gray-900) !important;
    text-decoration: none;
    font-size: 1em;
    display: inline-block;

    &:active,
    &.active,
    &:hover {
        color: var(--color-theme) !important;
        text-decoration: underline;
    }

}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @include sm {
        max-width: 540px;
    }

    @include md {
        max-width: 720px;
    }

    @include lg {
        max-width: 960px;
    }

    @include xl {
        max-width: 1140px;
    }

    @include xxl {
        max-width: 1320px;
    }

    &.container-fixed-500 {
        width: 500px;
    }

    &.container-fixed-700 {
        width: 700px;
    }
}
