@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-theme: #6366F1;
  --color-theme-o: #6365f1e6;
  --color-danger: #EF4444;
  --color-gray-100: #F3F6FF;
  --color-gray-200: #EFF2FC;
  --color-gray-300: #E2E5F1;
  --color-gray-400: #D4D7E5;
  --color-gray-500: #B4B7C9;
  --color-gray-600: #9397AD;
  --color-gray-700: #565973;
  --color-gray-800: #33354D;
  --color-gray-900: #0B0F19;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-gray-900);
  background-color: var(--color-white);
  margin: 0;
}

a {
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-theme);
  font-size: 1em;
  display: inline-block;
}
a:active, a:visited, a:focus, a:hover {
  color: var(--color-theme);
}
a:hover {
  text-decoration: none;
}

.nav-link {
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
  font-weight: 600;
  color: var(--color-gray-900) !important;
  text-decoration: none;
  font-size: 1em;
  display: inline-block;
}
.nav-link:active, .nav-link.active, .nav-link:hover {
  color: var(--color-theme) !important;
  text-decoration: underline;
}

h1 {
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
  font-weight: 800;
  font-size: 2.5em !important;
}

h2 {
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
  font-weight: 800;
  font-size: 2em !important;
}

h3 {
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
  font-weight: 800;
  font-size: 1.75em !important;
}

h4 {
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
  font-weight: 800;
  font-size: 1.5em !important;
}

h5 {
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
  font-weight: 800;
  font-size: 1.25em !important;
}

h6 {
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
  font-weight: 800;
  font-size: 1em !important;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.theme-switch .switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 24px;
}
.theme-switch .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.theme-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-gray-700);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.theme-switch .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.theme-switch input:checked + .slider {
  background-color: var(--color-theme);
}
.theme-switch input:focus + .slider {
  box-shadow: 0 0 1px var(--color-theme);
}
.theme-switch input:checked + .slider:before {
  transform: translateX(23px);
}
.theme-switch .slider.round {
  border-radius: 34px;
  box-shadow: 0 8px 18px -8px var(--color-theme-o);
}
.theme-switch .slider.round:before {
  border-radius: 50%;
}

.btn-theme {
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
  font-weight: 600;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  padding: 10px 30px;
  gap: 10px;
  text-decoration: none;
  display: inline-block;
  transition: all 0.15s ease-in-out;
  background-color: var(--color-theme);
  border: 1px solid var(--color-theme);
  color: var(--color-white) !important;
}
.btn-theme i {
  margin-right: 10px;
}
.btn-theme:hover {
  background-color: var(--color-white);
  border: 1px solid var(--color-theme);
  color: var(--color-theme) !important;
}

.btn-secondary {
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
  font-weight: 600;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  padding: 10px 30px;
  gap: 10px;
  text-decoration: none;
  display: inline-block;
  transition: all 0.15s ease-in-out;
  background-color: var(--color-gray-200);
  border: 1px solid var(--color-gray-200);
  color: var(--color-gray-900) !important;
}
.btn-secondary i {
  margin-right: 10px;
}
.btn-secondary:hover {
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-900);
}

.btn-menu {
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
  font-weight: 600;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  padding: 10px 30px;
  gap: 10px;
  text-decoration: none;
  display: inline-block;
  transition: all 0.15s ease-in-out;
  background-color: var(--color-gray-200);
  border: 1px solid var(--color-gray-200);
  color: var(--color-gray-900) !important;
  font-size: 22px;
  padding: 10px 20px;
}
.btn-menu i {
  margin-right: 10px;
}
.btn-menu i {
  margin-right: 0;
}
.btn-menu:hover {
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-900);
}

.btn-socialmedia {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  background-color: var(--color-gray-200);
  color: var(--color-gray-800);
  border-radius: 8px;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
}
.btn-socialmedia:hover {
  background-color: var(--color-theme);
  border: 1px solid var(--color-theme);
  color: var(--color-white) !important;
}

.feature-box {
  padding: 20px;
  transition: all 0.1s ease-in-out;
}
.feature-box:hover {
  background-color: var(--color-white);
}
.feature-box h5 {
  font-size: 20px;
  margin: 0;
}
.feature-box img {
  padding: 20px;
  background-color: var(--color-gray-100);
  margin: 20px;
  border-radius: 8px;
}

form {
  display: grid;
  width: 100%;
}
form .input-label {
  font-weight: 600;
  padding: 2px 0;
  margin-top: 15px;
}
form .input-group {
  position: relative;
  display: grid;
}
form .checkbox-group label {
  font-weight: 400;
}
form .checkbox-group .input-group {
  display: flex;
  align-items: center;
  gap: 15px;
}
form input,
form textarea {
  font-family: "manrope", sans-serif;
  font-size: 1em;
  font-weight: 400 !important;
  color: var(--color-gray-800);
  padding: 15px;
  border-radius: 8px;
  border: 1px solid var(--color-gray-400);
}
form input::placeholder,
form textarea::placeholder {
  opacity: 0.5;
}
form input[type=checkbox] {
  height: 25px;
  width: 25px;
  margin: 0;
}
form input[type=checkbox]:hover {
  cursor: pointer;
}
form .field-validation-error {
  position: absolute;
  bottom: -25px;
  color: var(--color-danger);
  font-size: 0.9em;
  padding: 2px 0px;
}
form .input-validation-error {
  border: 1px solid var(--color-danger);
}
form .input-confirm-group {
  margin-bottom: 15px;
}
form .input-confirm-group.has-error {
  margin-bottom: 30px;
}
form .btn {
  font-size: 1em;
  box-shadow: 0 8px 18px -8px var(--color-theme-o);
}
form .btn:hover {
  cursor: pointer;
}

header {
  padding-top: 15px;
  padding-bottom: 15px;
}
header .container {
  display: grid;
  align-items: center;
  gap: 40px;
  grid-template-columns: 1fr auto;
  grid-template-areas: "logo hamburger";
}
@media (min-width: 768px) {
  header .container {
    grid-template-columns: 1fr auto auto;
    grid-template-areas: "logo switch hamburger";
  }
}
@media (min-width: 1200px) {
  header .container {
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "logo nav switch account";
  }
}
header .container .logo {
  grid-area: logo;
}
header .container nav {
  grid-area: nav;
  position: relative;
  display: none;
  transform: translateX(100%);
  transition: transform 1.3s ease-in-out;
  padding-top: 100px;
}
@media (min-width: 1200px) {
  header .container nav {
    position: static;
    transform: none;
    display: flex;
    gap: 20px;
    padding-top: 0;
  }
}
header .container nav.active {
  display: block;
  background-color: var(--color-gray-900);
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transform: translateX(0);
  transition: transform 1.3s ease-in-out;
}
header .container nav a {
  display: block;
  color: var(--color-white) !important;
  text-align: center;
  padding: 20px;
}
@media (min-width: 1200px) {
  header .container nav a {
    padding: 0;
    color: var(--color-gray-900) !important;
  }
}
header .container .theme-switch {
  grid-area: switch;
  display: none;
}
@media (min-width: 768px) {
  header .container .theme-switch {
    display: block;
  }
}
header .container .account-buttons {
  grid-area: account;
  display: none;
  gap: 15px;
}
@media (min-width: 1200px) {
  header .container .account-buttons {
    display: flex;
  }
}
header .container .btn-menu {
  grid-area: hamburger;
  z-index: 20;
}
@media (min-width: 1200px) {
  header .container .btn-menu {
    display: none;
  }
}
header .container .btn-menu:hover {
  cursor: pointer;
}

.showcase {
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (min-width: 1200px) {
  .showcase {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "content image";
    padding-left: 60px;
  }
}
.showcase .showcase-image {
  grid-area: image;
  width: 100%;
}
.showcase .container {
  grid-area: content;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
}
.showcase .container .content {
  font-size: 1rem;
  padding-bottom: 50px;
}
.showcase .container .content h1 {
  text-align: center;
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
  font-weight: 800;
  font-size: 2em !important;
}
@media (min-width: 1200px) {
  .showcase .container .content h1 {
    font-family: "Manrope", sans-serif;
    line-height: 1.5;
    font-weight: 800;
    font-size: 3.5em !important;
    text-align: left;
  }
}
.showcase .container .content p {
  text-align: center;
  font-size: 1.125em;
  padding: 20px 0 50px 0;
  color: var(--color-gray-700);
}
@media (min-width: 1200px) {
  .showcase .container .content p {
    text-align: left;
  }
}
.showcase .container .content .get-started {
  display: flex;
  justify-content: center;
}
@media (min-width: 1200px) {
  .showcase .container .content .get-started {
    display: inline-block;
  }
}
.showcase .container .content .get-started .btn-theme {
  box-shadow: 0 8px 18px -8px var(--color-theme-o);
}
.showcase .container .content .brands {
  display: none;
  text-align: center;
}
@media (min-width: 1200px) {
  .showcase .container .content .brands {
    text-align: left;
    display: block;
  }
}
.showcase .container .content .brands h6 {
  margin: 100px 0 50px 0;
}
@media (min-width: 1200px) {
  .showcase .container .content .brands h6 {
    text-align: left;
    margin: 100px 0 20px 0;
  }
}
.showcase .container .content .brands .brands-logos {
  display: flex;
  gap: 20px;
}
.showcase .container .content .brands .brands-logos .brand-logo {
  width: 120px;
}

.placeholder {
  height: 300px;
  background-color: antiquewhite;
}

.features {
  background-color: var(--color-gray-100);
  padding: 50px 0;
}
.features .container {
  text-align: center;
}
.features .container .section-title p {
  color: var(--color-gray-600);
}
.features .container .tool-features {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  .features .container .tool-features {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .features .container .tool-features {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.features .container .tool-features p {
  color: var(--color-gray-700);
}
.features .container .tool-features .feature-box:nth-child(1) {
  border-bottom: 1px solid var(--color-gray-300);
}
.features .container .tool-features .feature-box:nth-child(2) {
  border-bottom: 1px solid var(--color-gray-300);
}
.features .container .tool-features .feature-box:nth-child(3) {
  border-bottom: 1px solid var(--color-gray-300);
}
.features .container .tool-features .feature-box:nth-child(4) {
  border-bottom: 1px solid var(--color-gray-300);
}
.features .container .tool-features .feature-box:nth-child(5) {
  border-bottom: 1px solid var(--color-gray-300);
}
.features .container .tool-features .feature-box:nth-child(6) {
  border-bottom: none;
}
@media (min-width: 768px) {
  .features .container .tool-features .feature-box:nth-child(1) {
    border-bottom: 1px solid var(--color-gray-300);
    border-right: 1px solid var(--color-gray-300);
  }
  .features .container .tool-features .feature-box:nth-child(2) {
    border-bottom: 1px solid var(--color-gray-300);
  }
  .features .container .tool-features .feature-box:nth-child(3) {
    border-bottom: 1px solid var(--color-gray-300);
    border-right: 1px solid var(--color-gray-300);
  }
  .features .container .tool-features .feature-box:nth-child(4) {
    border-bottom: 1px solid var(--color-gray-300);
  }
  .features .container .tool-features .feature-box:nth-child(5) {
    border-bottom: 1px solid var(--color-gray-300);
    border-right: 1px solid var(--color-gray-300);
  }
  .features .container .tool-features .feature-box:nth-child(6) {
    border-bottom: none;
  }
}
@media (min-width: 1200px) {
  .features .container .tool-features .feature-box:nth-child(1) {
    border-bottom: 1px solid var(--color-gray-300);
  }
  .features .container .tool-features .feature-box:nth-child(2) {
    border-bottom: 1px solid var(--color-gray-300);
    border-left: 1px solid var(--color-gray-300);
    border-right: 1px solid var(--color-gray-300);
  }
  .features .container .tool-features .feature-box:nth-child(3) {
    border-bottom: 1px solid var(--color-gray-300);
  }
  .features .container .tool-features .feature-box:nth-child(4) {
    border-bottom: none;
  }
  .features .container .tool-features .feature-box:nth-child(5) {
    border-bottom: none;
    border-left: 1px solid var(--color-gray-300);
    border-right: 1px solid var(--color-gray-300);
  }
  .features .container .tool-features .feature-box:nth-child(6) {
    border-bottom: none;
  }
}

.signup {
  margin-bottom: 80px;
}
.signup .container {
  width: 95%;
}
@media (min-width: 1200px) {
  .signup .container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 1200px) {
  .signup .container form {
    width: 50%;
  }
}
.signup .container form h1 {
  margin-bottom: 0;
}
.signup .container form .form-content {
  margin-top: 30px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  grid-template-areas: "firstname " "lastname" "email" "password" "confirm" "terms" "submit";
}
@media (min-width: 768px) {
  .signup .container form .form-content {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "firstname lastname" "email email" "password password" "confirm confirm" "terms terms" "submit submit";
  }
}
.signup .container form .form-content .input-firstname {
  grid-area: firstname;
}
.signup .container form .form-content .input-lastname {
  grid-area: lastname;
}
.signup .container form .form-content .input-email {
  grid-area: email;
}
.signup .container form .form-content .input-password {
  grid-area: password;
}
.signup .container form .form-content .input-confirm-group {
  grid-area: confirm;
}
.signup .container form .form-content .checkbox-group {
  grid-area: terms;
  margin-bottom: 30px;
}
.signup .container form .form-content button {
  grid-area: submit;
}

.signin {
  margin-bottom: 50px;
}
.signin .container {
  width: 95%;
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .signin .container {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .signin .container {
    width: 80%;
  }
}
@media (min-width: 1200px) {
  .signin .container form {
    width: 50%;
  }
}
.signin .container form h1 {
  margin-bottom: 0;
}
.signin .container form .form-content {
  margin-top: 30px;
  gap: 20px;
}
.signin .container form .form-content .checkbox-group {
  margin-top: 30px;
  margin-bottom: 30px;
}
.signin .container form .form-content button {
  width: 100%;
  grid-area: submit;
}

footer {
  margin: 20px;
}
footer .container {
  text-align: center;
}
footer .container .social-media {
  display: none;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  footer .container .social-media {
    display: flex;
  }
}
footer .container .copyright {
  font-size: 14px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: var(--color-gray-600);
}
@media (min-width: 992px) {
  footer .container .copyright {
    width: 60%;
  }
}
footer .container .copyright span {
  display: none;
}
@media (min-width: 1400px) {
  footer .container .copyright span {
    display: inline;
  }
}
