.signin {
    margin-bottom: 50px;

    .container {
        width: 95%;
        display: flex;
        justify-content: center;

        @include md {
            width: 50%;
        }

        @include xl {
            width: 80%;
        }

        form {

            @include xl {
                width: 50%;
            }

            h1 {
                margin-bottom: 0;
            }

            .form-content {
                margin-top: 30px;
                gap: 20px;

                .checkbox-group {
                    margin-top: 30px;
                    margin-bottom: 30px;
                }

                button {
                    width: 100%;
                    grid-area: submit;
                }
            }
        }
    }
}
