@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray: #EFF2FC;
  --color-theme: #6366F1;
  --color-theme-o: #6365f1e6;
  --color-danger: #EF4444;
  --color-danger-light: #f58989;
  --color-success: #22C55E;
  --color-success-dark: #22C55E;
  --color-warning: #ffe8ad;
  --color-info: #cfdefd;
  --color-gray-000: #FFFFFF;
  --color-gray-100: #F3F6FF;
  --color-gray-200: #EFF2FC;
  --color-gray-300: #E2E5F1;
  --color-gray-400: #D4D7E5;
  --color-gray-500: #B4B7C9;
  --color-gray-600: #9397AD;
  --color-gray-700: #565973;
  --color-gray-800: #33354D;
  --color-gray-900: #0B0F19;
  --font-manrope: "Manrope", sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-gray-900);
  background-color: var(--color-white);
  margin: 0;
}

a {
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-theme);
  font-size: 1em;
  display: inline-block;
}
a:active, a:visited, a:focus, a:hover {
  color: var(--color-theme);
}
a:hover {
  text-decoration: none;
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.nav-link {
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-gray-900) !important;
  text-decoration: none;
  font-size: 1em;
  display: inline-block;
}
.nav-link:active, .nav-link.active, .nav-link:hover {
  color: var(--color-theme) !important;
  text-decoration: underline;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
.container.container-fixed-500 {
  width: 500px;
}
.container.container-fixed-700 {
  width: 700px;
}

h1 {
  font-family: "Manrope", sans-serif;
  line-height: 1.4;
  font-weight: 800;
  font-size: 2.5em !important;
}

h2 {
  font-family: "Manrope", sans-serif;
  line-height: 1.4;
  font-weight: 800;
  font-size: 2em !important;
}

h3 {
  font-family: "Manrope", sans-serif;
  line-height: 1.4;
  font-weight: 800;
  font-size: 1.75em !important;
}

h4 {
  font-family: "Manrope", sans-serif;
  line-height: 1.4;
  font-weight: 800;
  font-size: 1.5em !important;
}

h5 {
  font-family: "Manrope", sans-serif;
  line-height: 1.4;
  font-weight: 800;
  font-size: 1.25em !important;
}

h6 {
  font-family: "Manrope", sans-serif;
  line-height: 1.4;
  font-weight: 800;
  font-size: 1em !important;
}

.theme-switch .switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 24px;
}
.theme-switch .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.theme-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-gray-700);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.theme-switch .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.theme-switch input:checked + .slider {
  background-color: var(--color-theme);
}
.theme-switch input:focus + .slider {
  box-shadow: 0 0 1px var(--color-theme);
}
.theme-switch input:checked + .slider:before {
  transform: translateX(23px);
}
.theme-switch .slider.round {
  border-radius: 34px;
  box-shadow: 0 8px 18px -8px var(--color-theme-o);
}
.theme-switch .slider.round:before {
  border-radius: 50%;
}

.btn-socialmedia {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  background-color: var(--color-gray-200);
  color: var(--color-gray-800);
  border-radius: 8px;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
}
.btn-socialmedia:hover {
  background-color: var(--color-theme);
  border: 1px solid var(--color-theme);
  color: var(--color-white) !important;
}

.btn-theme {
  border: none;
  font-weight: 600;
  border-radius: 8px;
  padding: 16px 35px;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
  color: var(--color-white) !important;
  background: var(--color-theme);
}
.btn-theme i {
  margin-right: 10px;
}
.btn-theme:hover {
  color: var(--color-white);
  background: var(--color-gray-800);
}

.btn-theme-secondary {
  border: none;
  font-weight: 600;
  border-radius: 8px;
  padding: 16px 35px;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
  color: var(--color-gray-800);
  background: var(--color-gray-200);
}
.btn-theme-secondary i {
  margin-right: 10px;
}
.btn-theme-secondary:hover {
  color: var(--color-white);
  background: var(--color-gray-800);
}

.btn-small {
  padding: 12px 35px !important;
}

.btn-mobile {
  border: none;
  font-weight: 600;
  border-radius: 8px;
  padding: 16px 35px;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
  padding: 0;
  height: 50px;
  width: 55px;
  font-size: 20px;
}
.btn-mobile i {
  margin-right: 10px;
}
.btn-mobile:hover {
  color: var(--color-white);
  background: var(--color-gray-800);
}
.btn-mobile i {
  margin-right: 0;
}

.btn {
  border: 1px solid transparent;
  color: var(--color-gray-800);
  outline: none;
  border-radius: 8px;
  padding: 12px 25px;
  transition: background 0.15s ease-in-out, color 0.15s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.btn i {
  margin-right: 1rem;
}
.btn:hover {
  border: 1px solid var(--color-gray-800);
  background-color: var(--color-gray-800);
  color: var(--color-gray-100);
  text-decoration: none;
}

.btn-menu {
  border: none;
  font-weight: 600;
  border-radius: 8px;
  padding: 16px 35px;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
  background-color: var(--color-gray-200);
  border: 1px solid var(--color-gray-200);
  color: var(--color-gray-900) !important;
  font-size: 22px;
  padding: 10px 20px;
}
.btn-menu i {
  margin-right: 10px;
}
.btn-menu:hover {
  color: var(--color-white);
  background: var(--color-gray-800);
}
.btn-menu i {
  margin-right: 0;
}
.btn-menu:hover {
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-900);
}

.btn-gray {
  background: var(--color-gray);
  color: var(--color-black);
  border: 1px solid var(--color-gray);
}
.btn-gray:hover {
  text-decoration: none;
  border: 1px solid var(--color-theme);
  background: var(--color-theme);
  color: var(--color-white);
}

.btn-white {
  border: 1px solid var(--color-gray-100);
  background-color: var(--color-white);
  color: var(--color-gray-100);
}
.btn-white:hover {
  border: 1px solid var(--color-gray-700);
  background-color: var(--color-gray-700);
  color: var(--color-white);
}
.btn-white:hover i {
  color: var(--color-white);
}

.btn-nav {
  padding: 8px 0;
  font-size: 16px;
}
.btn-nav.active {
  border: 1px solid var(--color-theme);
  background-color: var(--color-theme);
  color: var(--color-white);
}
.btn-nav:hover {
  border: 1px solid var(--color-gray-800);
  background-color: var(--color-gray-800);
  color: var(--color-gray-100);
  text-decoration: none;
}

.btn-circle {
  background: var(--color-white);
  color: var(--color-gray-700);
  padding: 8px 8px;
  width: 44px;
  height: 44px;
  font-size: 14px;
  border-radius: 50%;
  border: 1px solid var(--color-gray-300);
  box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.25);
}
.btn-circle i {
  margin-top: 2px;
  margin-right: 0;
}
.btn-circle:hover {
  cursor: pointer;
}

.btn-circle-sm {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 0;
}

.feature-box {
  padding: 20px;
  transition: all 0.1s ease-in-out;
}
.feature-box:hover {
  background-color: var(--color-white);
  box-shadow: 0 8px 18px -8px var(--color-gray-400);
}
.feature-box h5 {
  font-size: 20px;
  margin: 0;
}
.feature-box img {
  padding: 20px;
  border-radius: 8px;
}

.tool-box:hover {
  box-shadow: 0 8px 18px -8px var(--color-gray-400);
}

form {
  width: 100%;
  display: grid;
  font-size: 16px;
}

form .input-group {
  display: grid;
}
form .input-group input {
  padding: 16px;
}

form .checkbox-group input[type=checkbox] {
  margin-right: 10px;
}

form .checkbox-group .input-group {
  display: flex;
  align-items: center;
}

form textarea,
form input {
  font-size: 1em;
  font-family: "manrope";
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid var(--color-gray-400);
}

form textarea::placeholder,
form input::placeholder {
  opacity: 0.5;
}

form input[type=checkbox] {
  height: 20px;
  width: 20px;
  margin: 0;
}

form button {
  width: 100%;
}

form .input-validation-error {
  border-color: var(--color-danger);
}

form .field-validation-error {
  font-size: 14px;
  font-weight: 400 !important;
  color: var(--color-danger);
  padding: 2px 5px;
}

textarea,
select,
input:not([type=checkbox]) {
  min-width: 300px;
  font-size: 16px;
  font-family: "manrope";
  font-weight: 400 !important;
  padding: 10px 16px;
  border-radius: 8px;
  border: 1px solid var(--color-gray-400);
}
textarea::placeholder,
select::placeholder,
input:not([type=checkbox])::placeholder {
  opacity: 0.5;
}

.input-search-group {
  position: relative;
}
.input-search-group input {
  position: relative;
  padding-right: 40px;
}
.input-search-group i {
  position: absolute;
  top: 14px;
  right: 1rem;
}

.select {
  position: relative;
  min-width: 300px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M5.5 7l4.5 4.5L14.5 7z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
}
.select .selected {
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid var(--color-gray-400);
  cursor: pointer;
}
.select .select-options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-400);
  z-index: 10;
}
.select .select-options .option {
  padding: 10px;
  cursor: pointer;
  background-color: var(--color-white);
}

.alert {
  border-radius: 8px;
  font-size: 1rem;
  padding: 12px 1rem;
  display: block;
}
.alert .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alert-dark {
  background-color: var(--color-gray-900);
  color: var(--color-gray-000);
}

.alert-gray {
  background-color: var(--color-gray-200);
  color: var(--color-gray-800);
}

.alert-info {
  background-color: var(--color-info);
  color: var(--color-gray-800);
}

.alert-success {
  background-color: var(--color-success);
  color: var(--color-gray-800);
}

.alert-warning {
  background-color: var(--color-warning);
  color: var(--color-gray-800);
}

.alert-danger {
  background-color: var(--color-danger-light);
  border: 3px solid var(--color-danger);
  color: var(--color-black);
}

#cookie-consent {
  padding: 1.5rem 0 !important;
  border-radius: 0;
}

header {
  padding-top: 15px;
  padding-bottom: 15px;
}
header .container {
  display: grid;
  align-items: center;
  gap: 40px;
  grid-template-columns: 1fr auto;
  grid-template-areas: "logo hamburger";
}
@media (min-width: 768px) {
  header .container {
    grid-template-columns: 1fr auto auto;
    grid-template-areas: "logo switch hamburger";
  }
}
@media (min-width: 1200px) {
  header .container {
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "logo nav switch account";
  }
}
header .container .logo {
  grid-area: logo;
}
header .container nav {
  grid-area: nav;
  position: relative;
  display: none;
  transform: translateX(100%);
  transition: transform 1.3s ease-in-out;
  padding-top: 100px;
}
@media (min-width: 1200px) {
  header .container nav {
    position: static;
    transform: none;
    display: flex;
    gap: 20px;
    padding-top: 0;
  }
}
header .container nav.active {
  display: block;
  background-color: var(--color-gray-800);
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transform: translateX(0);
  transition: transform 1.3s ease-in-out;
  z-index: 20;
}
@media (min-width: 768px) {
  header .container nav.active {
    width: 50%;
    z-index: 20;
  }
}
header .container nav a {
  display: block;
  color: var(--color-white) !important;
  text-align: center;
  padding: 20px;
}
@media (min-width: 1200px) {
  header .container nav a {
    padding: 0;
    color: var(--color-gray-900) !important;
  }
}
header .container .theme-switch {
  grid-area: switch;
  display: none;
}
@media (min-width: 768px) {
  header .container .theme-switch {
    display: block;
  }
}
header .container .account-buttons {
  grid-area: account;
  display: none;
  gap: 15px;
}
@media (min-width: 1200px) {
  header .container .account-buttons {
    display: flex;
  }
}
header .container .account-buttons .profile {
  display: flex;
  justify-content: center;
}
header .container .account-buttons .profile .image {
  position: relative;
}
header .container .account-buttons .profile .image img {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  object-fit: cover;
  border: 1px solid var(--color-gray-400);
}
header .container .account-buttons .profile .image form {
  position: relative;
}
header .container .account-buttons .profile .image form label {
  position: absolute;
  bottom: 10px;
  right: 0;
}
header .container .btn-menu {
  grid-area: hamburger;
  z-index: 20;
}
@media (min-width: 1200px) {
  header .container .btn-menu {
    display: none;
  }
}
header .container .btn-menu:hover {
  cursor: pointer;
}
header .container .btn-mobile {
  grid-area: mobile;
  z-index: 20;
}
@media (min-width: 1200px) {
  header .container .btn-mobile {
    display: none;
  }
}

.showcase {
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (min-width: 1200px) {
  .showcase {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "content image";
    padding-left: 60px;
  }
}
.showcase .showcase-image {
  grid-area: image;
  width: 100%;
}
.showcase .container {
  grid-area: content;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
}
.showcase .container .content {
  font-size: 1rem;
  padding-bottom: 50px;
}
.showcase .container .content h1 {
  text-align: center;
  font-family: "Manrope", sans-serif;
  line-height: 1.4;
  font-weight: 800;
  font-size: 2em !important;
}
@media (min-width: 1200px) {
  .showcase .container .content h1 {
    font-family: "Manrope", sans-serif;
    line-height: 1.4;
    font-weight: 800;
    font-size: 3.5em !important;
    text-align: left;
  }
}
.showcase .container .content p {
  text-align: center;
  font-size: 1.125em;
  padding: 20px 0 50px 0;
  color: var(--color-gray-700);
}
@media (min-width: 1200px) {
  .showcase .container .content p {
    text-align: left;
  }
}
.showcase .container .content .get-started {
  display: flex;
  justify-content: center;
}
@media (min-width: 1200px) {
  .showcase .container .content .get-started {
    display: inline-block;
  }
}
.showcase .container .content .get-started .btn-theme {
  box-shadow: 0 8px 18px -8px var(--color-theme-o);
}
.showcase .container .content .brands {
  display: none;
  text-align: center;
}
@media (min-width: 1200px) {
  .showcase .container .content .brands {
    text-align: left;
    display: block;
  }
}
.showcase .container .content .brands h6 {
  margin: 100px 0 50px 0;
}
@media (min-width: 1200px) {
  .showcase .container .content .brands h6 {
    text-align: left;
    margin: 100px 0 20px 0;
  }
}
.showcase .container .content .brands .brands-logos {
  display: flex;
  gap: 20px;
}
.showcase .container .content .brands .brands-logos .brand-logo {
  width: 120px;
}

.placeholder {
  height: 300px;
  background-color: antiquewhite;
}

.features {
  background-color: var(--color-gray-100);
  padding: 50px 0;
}
.features .container {
  text-align: center;
}
.features .container .section-title p {
  color: var(--color-gray-600);
}
.features .container .tool-features {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  .features .container .tool-features {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .features .container .tool-features {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.features .container .tool-features p {
  color: var(--color-gray-700);
}
.features .container .tool-features .feature-box:nth-child(1) {
  border-bottom: 1px solid var(--color-gray-300);
}
.features .container .tool-features .feature-box:nth-child(2) {
  border-bottom: 1px solid var(--color-gray-300);
}
.features .container .tool-features .feature-box:nth-child(3) {
  border-bottom: 1px solid var(--color-gray-300);
}
.features .container .tool-features .feature-box:nth-child(4) {
  border-bottom: 1px solid var(--color-gray-300);
}
.features .container .tool-features .feature-box:nth-child(5) {
  border-bottom: 1px solid var(--color-gray-300);
}
.features .container .tool-features .feature-box:nth-child(6) {
  border-bottom: none;
}
@media (min-width: 768px) {
  .features .container .tool-features .feature-box:nth-child(1) {
    border-bottom: 1px solid var(--color-gray-300);
    border-right: 1px solid var(--color-gray-300);
  }
  .features .container .tool-features .feature-box:nth-child(2) {
    border-bottom: 1px solid var(--color-gray-300);
  }
  .features .container .tool-features .feature-box:nth-child(3) {
    border-bottom: 1px solid var(--color-gray-300);
    border-right: 1px solid var(--color-gray-300);
  }
  .features .container .tool-features .feature-box:nth-child(4) {
    border-bottom: 1px solid var(--color-gray-300);
  }
  .features .container .tool-features .feature-box:nth-child(5) {
    border-bottom: none;
    border-right: 1px solid var(--color-gray-300);
  }
  .features .container .tool-features .feature-box:nth-child(6) {
    border-bottom: none;
  }
}
@media (min-width: 1200px) {
  .features .container .tool-features .feature-box:nth-child(1) {
    border-bottom: 1px solid var(--color-gray-300);
  }
  .features .container .tool-features .feature-box:nth-child(2) {
    border-bottom: 1px solid var(--color-gray-300);
    border-left: 1px solid var(--color-gray-300);
    border-right: 1px solid var(--color-gray-300);
  }
  .features .container .tool-features .feature-box:nth-child(3) {
    border-bottom: 1px solid var(--color-gray-300);
    border-right: none;
  }
  .features .container .tool-features .feature-box:nth-child(4) {
    border-bottom: none;
  }
  .features .container .tool-features .feature-box:nth-child(5) {
    border-bottom: none;
    border-left: 1px solid var(--color-gray-300);
    border-right: 1px solid var(--color-gray-300);
  }
  .features .container .tool-features .feature-box:nth-child(6) {
    border-bottom: none;
  }
}

.dashboard {
  justify-content: center;
  align-items: center;
}
.dashboard .container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 100px;
  height: 90%;
}
.dashboard .container .dashboard-image {
  display: none;
}
.dashboard .container .dashboard-image img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
@media (min-width: 576px) {
  .dashboard .container .dashboard-image {
    display: block;
  }
}
@media (min-width: 992px) {
  .dashboard .container {
    height: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
}
.dashboard .container .manage-work {
  margin: 30px 50px 40px;
}
@media (min-width: 992px) {
  .dashboard .container .manage-work {
    margin-top: 0;
  }
}
.dashboard .container .manage-work h2 {
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 800;
}
.dashboard .container .manage-work .manage-tasks {
  margin-top: 2rem;
}
.dashboard .container .manage-work .manage-tasks .manage-task {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.dashboard .container .manage-work .manage-tasks .manage-task p {
  margin: 0;
  color: var(--color-gray-700);
  font-size: 16px;
}
.dashboard .container .manage-work .learn-more {
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 600;
  margin-top: 2rem;
}

.download {
  background-color: var(--color-gray-100);
}
.download .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-gray-200);
  padding: 4rem;
  text-align: center;
}
.download .container .phone-img {
  display: block;
  width: 80%;
  max-width: 400px;
  margin-bottom: 2rem;
}
.download .container .phone-img img {
  width: 100%;
  height: auto;
}
.download .container .content {
  width: 100%;
}
.download .container .content h2.section-title {
  font-size: 1.5rem;
  margin-bottom: 3rem;
}
.download .container .content .store {
  margin-bottom: 1rem;
}
.download .container .content .store .text-content {
  margin-bottom: 1rem;
}
.download .container .content .store p, .download .container .content .store h3 {
  margin: 0;
}
.download .container .content .store p {
  color: var(--color-gray-700);
}
.download .container .content .store .store-img {
  width: 150px;
  height: auto;
  margin: 2rem;
}
@media (min-width: 992px) {
  .download .container {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
  .download .container .phone-img {
    width: auto;
    flex: 1;
    max-width: 450px;
  }
  .download .container .content {
    flex: 1;
    max-width: none;
    padding-left: 10rem;
  }
  .download .container .content h2.section-title {
    font-size: 2.5rem;
  }
  .download .container .content .store {
    display: flex;
    align-items: center;
    justify-content: start;
  }
  .download .container .content .store .text-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.tools {
  padding: 50px 0;
}
.tools .container {
  display: none;
}
@media (min-width: 768px) {
  .tools .container {
    display: grid;
  }
}
@media (min-width: 1200px) {
  .tools .container {
    display: grid;
  }
}
.tools .container .section-title {
  text-align: center;
}
.tools .container .section-title h1 {
  font-size: 34px;
}
@media (min-width: 1200px) {
  .tools .container .section-title p {
    padding: 0 200px 0;
  }
}
.tools .container .tool-features {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  .tools .container .tool-features {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .tools .container .tool-features {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.tools .container .tool-features p {
  color: var(--color-gray-700);
}
.tools .container .tool-features .tool-box {
  padding: 30px;
}

.subscribe {
  background-color: var(--color-gray-100);
  padding: 4rem 0;
}
.subscribe .container {
  width: 55%;
}
@media (min-width: 768px) {
  .subscribe .container {
    width: 75%;
  }
}
@media (min-width: 1200px) {
  .subscribe .container {
    width: 55%;
  }
}
.subscribe .container .title {
  display: flex;
  align-items: center;
  gap: 20px;
}
.subscribe .container .title h2 {
  font-size: 2.5em;
}
@media (min-width: 768px) {
  .subscribe .container .title h2 {
    font-size: 2.25em;
  }
}
@media (min-width: 1200px) {
  .subscribe .container .title h2 {
    font-size: 2.5em;
  }
}
.subscribe .container form .alternative {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: 1fr 3fr;
}
@media (min-width: 768px) {
  .subscribe .container form .alternative {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .subscribe .container form .alternative {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1200px) {
  .subscribe .container form .alternative {
    grid-template-columns: repeat(6, 1fr);
  }
}
.subscribe .container form .alternative .options {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 50px;
}
.subscribe .container form .email {
  display: grid;
  align-items: start;
  grid-template-columns: 1fr auto;
  gap: 1.5rem;
}
@media (min-width: 576px) {
  .subscribe .container form .email {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 768px) {
  .subscribe .container form .email {
    grid-template-columns: 3fr 1fr;
  }
}
.subscribe .container form .email .input-group {
  position: relative;
}
.subscribe .container form .email .input-group i {
  position: absolute;
  left: 20px;
  top: 17px;
  font-size: 1.3em;
}
.subscribe .container form .email .input-group input {
  padding-left: 55px;
}
.subscribe .container form .email button {
  font-size: 16px;
  cursor: pointer;
}

footer {
  margin: 20px;
}
footer .container {
  text-align: center;
}
footer .container .social-media {
  display: none;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  footer .container .social-media {
    display: flex;
  }
}
footer .container .copyright {
  font-size: 14px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: var(--color-gray-600);
}
@media (min-width: 992px) {
  footer .container .copyright {
    width: 60%;
  }
}
footer .container .copyright span {
  display: none;
}
@media (min-width: 1400px) {
  footer .container .copyright span {
    display: inline;
  }
}

.courses {
  padding-top: 3rem;
  padding-bottom: 5rem;
}
.courses .container .navigation {
  font-size: 14px;
}
.courses .container .navigation a {
  text-decoration: none;
  color: var(--color-gray-600);
}
.courses .container .navigation a .fa-regular {
  margin-right: 4px;
}
.courses .container .navigation .fa-solid {
  font-size: 10px;
  color: var(--color-gray-600);
  margin: 0 5px;
}
.courses .container .navigation span {
  color: var(--color-theme);
}
@media (min-width: 1200px) {
  .courses .container .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
}
.courses .container .header h1 {
  font-size: 48px;
}
.courses .container .header .filters {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
}
@media (min-width: 768px) {
  .courses .container .header .filters {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4rem;
  }
}
@media (min-width: 1200px) {
  .courses .container .header .filters {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4rem;
  }
  .courses .container .header .filters select {
    position: absolute;
    min-width: 241px;
  }
  .courses .container .header .filters .option {
    padding: 10px;
    cursor: pointer;
  }
  .courses .container .header .filters .option:hover {
    background-color: var(--color-gray-400);
  }
}
.courses .container .items {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
@media (min-width: 768px) {
  .courses .container .items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}
@media (min-width: 1200px) {
  .courses .container .items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
}
.courses .container .items .course {
  position: relative;
  display: block;
  border-radius: 8px;
  overflow: hidden;
  text-decoration: none;
  box-shadow: 0 0 14px -4px var(--color-gray-500);
  color: var(--color-gray-700);
}
.courses .container .items .course:hover {
  box-shadow: 0 0 14px -4px var(--color-gray-900);
}
.courses .container .items .course .bestseller {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: var(--color-success-dark);
  color: var(--color-white);
  padding: 4px 12px;
  border-radius: 4px;
}
.courses .container .items .course .bookmark {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.courses .container .items .course img {
  width: 100%;
}
.courses .container .items .course .content {
  padding: 1rem 2rem;
}
.courses .container .items .course .content .title {
  font-size: 20px;
  color: var(--color-black);
}
.courses .container .items .course .content .author {
  font-size: 14px;
  margin: 0.5rem 0;
  color: var(--color-gray-700);
}
.courses .container .items .course .content .pricing {
  display: flex;
  gap: 1rem;
  font-size: 18px;
  font-weight: 600;
}
.courses .container .items .course .content .pricing .discount {
  color: var(--color-danger);
  font-size: 18px;
  font-weight: 600;
}
.courses .container .items .course .content .pricing .original {
  color: var(--color-theme);
  font-size: 18px;
  font-weight: 600;
}
.courses .container .items .course .content .pricing .discount-enabled {
  color: var(--color-gray-600);
  text-decoration: line-through;
  font-size: 18px;
  font-weight: 400;
}
.courses .container .items .course .content .footer {
  color: var(--color-gray-600);
  border-top: 1px solid var(--color-gray-400);
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
  padding-top: 1rem;
}
.courses .container .items .course .content .footer .hours i {
  margin-right: 5px;
}
.courses .container .items .course .content .footer .likes i {
  margin-right: 5px;
}

.section-skills .container .skills-container {
  display: flex;
  flex-direction: column-reverse;
  background-color: var(--color-gray-100);
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  .section-skills .container .skills-container {
    flex-direction: row;
    justify-content: space-around;
  }
}
.section-skills .container .skills-container .text-container {
  margin-top: 50px;
  margin-left: 80px;
}
.section-skills .container .skills-container .text-container p {
  font-size: 20px;
  color: var(--color-gray- 700);
  margin-bottom: -10px;
}
@media (min-width: 768px) {
  .section-skills .container .skills-container .text-container h2 {
    width: 70%;
  }
}
.section-skills .container .skills-container .text-container h2 span {
  color: var(--color-theme);
}
.section-skills .container .skills-container .text-container a {
  box-shadow: 0 8px 18px -8px var(--color-theme-o);
}
.section-skills .container .skills-container .img-container img {
  width: 100%;
}

.signup {
  margin-bottom: 30px;
}
.signup .container {
  width: 95%;
}
.signup .container form {
  margin-bottom: 30px;
}
.signup .container form h1 {
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 0;
}
.signup .container form .form-content {
  margin-top: 30px;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
  grid-template-areas: "firstname" "lastname" "email" "password" "confirm" "terms" "submit";
}
.signup .container form .input-group label {
  padding: 3px;
}
.signup .container form .checkbox-group {
  margin-top: 10px;
  margin-bottom: 10px;
}
.signup .container form #firstName {
  grid-area: firstname;
}
.signup .container form #lastName {
  grid-area: lastname;
}
.signup .container form #email {
  grid-area: email;
}
.signup .container form #password {
  grid-area: password;
}
.signup .container form #confirm {
  grid-area: confirm;
}
.signup .container form #terms {
  grid-area: terms;
}
.signup .container form .checkbox-group {
  grid-area: terms;
  margin-bottom: 30px;
  margin-top: 0.8em;
}
.signup .container form #btn-submit {
  box-shadow: 0 8px 18px -8px var(--color-theme-o);
  grid-area: submit;
  font-size: 16px;
  cursor: pointer;
}

@media (min-width: 992px) {
  .signup {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .signup .container {
    width: 40%;
  }
  .signup .container form .form-content {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "firstname lastname" "email email" "password password" "confirm confirm" "terms terms" "submit submit";
  }
  .signup .container form .input-group label {
    padding: 3px;
  }
}
.signin {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 2rem;
}
.signin .container form {
  width: 550px;
  gap: 10px;
  grid-template-columns: 1fr;
  grid-template-areas: "alert" "email" "password" "remember" "button";
  margin-bottom: 30px;
}
.signin .container form h1 {
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 0;
}
.signin .container form .form-content {
  margin-top: 10px;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
  grid-template-areas: "email" "password" "remember" "submit";
}
.signin .container form .input-group label {
  padding: 3px;
}
.signin .container form .checkbox-group {
  margin-bottom: 20px;
}
.signin .container form #email {
  grid-area: email;
}
.signin .container form #password {
  grid-area: password;
}
.signin .container form #rememberMe {
  grid-area: remember;
}
.signin .container form #btn-submit {
  box-shadow: 0 8px 18px -8px var(--color-theme-o);
  grid-area: submit;
  font-size: 16px;
  cursor: pointer;
}
.signin .container form .forgot-link {
  text-align: center;
  padding: 15px;
}
.signin .container form .forgot-link a {
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}
.signin .container form .forgot-link a:hover {
  text-decoration: underline;
}

.account-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.account-profile .profile .image {
  display: inline-block;
  position: relative;
}
.account-profile .profile .image img {
  border-radius: 50%;
  height: 120px;
  width: 120px;
  object-fit: cover;
  border: 1px solid var(--color-gray-400);
}
.account-profile .profile .image form {
  position: absolute;
  bottom: -10px;
  right: -10px;
}
.account-profile .profile .image label {
  position: absolute;
  bottom: 10px;
  right: 2.3em;
}
.account-profile .info .displayname {
  font-size: 1.3em;
}
.account-profile .info .email {
  font-size: 0.8em;
}

.info-form h5 {
  color: var(--color-theme);
}
.info-form .form .input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.info-form .form .input-group label {
  width: auto;
  max-width: 200px;
  margin-bottom: 0.5rem;
}
.info-form .form .input-group input, .info-form .form .input-group textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid var(--color-gray-400);
  border-radius: 4px;
}
.info-form .form .buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  gap: 3rem;
}
.info-form .form .buttons .btn {
  padding: 0.5rem 2rem;
  font-size: 16px;
  cursor: pointer;
}

.address-info .input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.address-info .input-group label {
  width: auto;
  max-width: 200px;
  margin-bottom: 0.5rem;
}
.address-info .input-group input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid var(--color-gray-400);
  border-radius: 4px;
}
.address-info .buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  gap: 3rem;
}
.address-info .buttons .btn {
  padding: 0.5rem 2rem;
  font-size: 16px;
  cursor: pointer;
}

.account {
  height: 100%;
  padding: 2rem 0;
}
.account .container {
  display: grid;
  grid-template-columns: 350px 1fr;
  align-items: start;
}
.account .container aside {
  padding-top: 1rem 2rem;
  border-right: 1px solid var(--color-gray-400);
}
.account .container aside img {
  border-radius: 50%;
  height: 120px;
  width: 120px;
  object-fit: cover;
  border: 1px solid var(--color-gray-400);
}
.account .container .account-nav {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.account .container .account-nav .btn {
  margin-bottom: 10px;
  font-size: 16px;
  text-align: center;
  padding: 1em;
}
.account .container main {
  padding: 1rem 6rem;
}

.horizontal-border {
  margin-top: 30px;
  border: 1px solid var(--color-gray-300);
}

.pagination {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}
.pagination .number {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 44px;
  height: 44px;
  background-color: var(--color-gray-200);
  color: var(--color-gray-800);
  text-decoration: none;
}
.pagination .number:hover {
  text-decoration: none;
  background: var(--color-gray-700);
  color: var(--color-gray-100);
}
.pagination .number.active {
  background: var(--color-gray-700);
  color: var(--color-gray-100);
}
