@model SignInViewModel
@{
    ViewData["Title"] = "Sign in";
}

<section class="signin">
    <div class="container">

        <form method="post" asp-controller="Auth" asp-action="SignIn">
            <h1>Sign in</h1>
            <p>Don't have an account yet? <a asp-controller="Auth" asp-action="SignUp">Sign up here</a></p>

            <div class="form-content">

                <div class="input-group">
                    <label class="input-label" asp-for="Email"></label>
                    <input asp-for="Email" />
                    <span asp-validation-for="Email"></span>
                </div>

                <div class="input-group">
                    <label class="input-label" asp-for="Password"></label>
                    <input asp-for="Password" />
                    <span asp-validation-for="Password"></span>
                </div>

                <div class="checkbox-group">
                    <div class="input-group">
                        <input asp-for="RememberMe" />
                        <label asp-for="RememberMe">Remember me</label>
                    </div>
                </div>

                <button class="btn btn-theme" type="submit">Sign in</button>


            </div>
        </form>


    </div>
</section>