@{
    Layout = "_Layout";
}
<a href="c:\nackademin\asp.net-core\lektioner\lektion-7\silicone\webapp\views\_viewstart.cshtml">c:\nackademin\asp.net-core\lektioner\lektion-7\silicone\webapp\views\_viewstart.cshtml</a>