<section class="download">
    <div class="container">
        <div class="phone-img">
            <img src="~/images/download/phone.svg" alt="Phone" />
        </div>
        <div class="content">
            <h2 class="section-title">Download Our App for Any Devices:</h2>
            <div class="store app-store">
                <div class="text-content">
                    <p>App Store</p>
                    <img src="~/images/download/stars.svg" alt="Rating Stars" />
                    <h3>Editor's Choice</h3>
                    <p>rating 4.7, 187K+ reviews</p>

                </div>
                <img class="store-img" src="~/images/download/appstore.svg" alt="Download on the App Store" />
            </div>
            <div class="store google-play">
                <div class="text-content">
                    <p>Google Play</p>
                    <img src="~/images/download/stars.svg" alt="Rating Stars" />
                    <h3>App of the Day</h3>
                    <p>rating 4.8, 30K+ reviews</p>
                </div>
                <img class="store-img" src="~/images/download/googleplay.svg" alt="Get it on Google Play" />
            </div>
        </div>
    </div>
</section>
