@{
    var user = await UserManager.GetUserAsync(User);
}
﻿

<header>
    <div class="container">
        <a asp-action="Home" asp-controller="Default" class="logo"><img src="~/images/logos/silicon-logo.svg" alt="silicon"></a>

        <nav>
            <a asp-action="Home" asp-controller="Default" class="nav-link">Overview</a>
            
            @if (SignInManager.IsSignedIn(User) && user != null)
            {
                <a asp-action="Courses" asp-controller="Courses" class="nav-link">Courses</a>
            }
            else
            {
                <a asp-action="Features" asp-controller="Default" class="nav-link">Features</a>
            }
            <a asp-action="Contact" asp-controller="Default" class="nav-link">Contact</a>
        </nav>

        <div class="theme-switch">
            <label for="theme-switch-mode">Light</label>
            <label class="switch">
                <input id="theme-switch-mode" type="checkbox">
                <span class="slider round"></span>
            </label>
            <label for="theme-switch-mode">Dark</label>
        </div>

            <div class="account-buttons">
                @if (SignInManager.IsSignedIn(User) && user != null)
                {
                    <div class="profile">
                        <div class="image">
                            <a asp-action="Details" asp-controller="Account">
                                <img src="@Configuration["FilePath:ProfileImagePath"]/@user.ProfileImage" alt="" />
                            </a>
                        </div>
                    </div>
                }
                else
                {
                    <a class="btn btn-gray" asp-action="SignIn" asp-controller="Auth"><i class="fa-sharp fa-regular fa-arrow-right-to-bracket"></i>Sign in</a>
                    <a class="btn btn-theme" asp-action="SignUp" asp-controller="Auth"><i class="fa-regular fa-user"></i>Sign up</a>
                }
            </div>       

        <button class="btn-menu"><i class="fa-regular fa-bars"></i></button>
    </div>
</header>