﻿   <section class="dashboard">

    <div class="container">
        <div class="dashboard-image">
            <img src="/images/profile/dashboard.svg" alt="" />
        </div>

        <div class="manage-work">
            <h2>Manage Your Work</h2>

            <div class="manage-tasks">

                <div class="manage-task">
                    <img src="~/images/icons/check-circle.svg" alt="check-circle" />
                    <p>Powerful project management</p>
                </div>

                <div class="manage-task">
                    <img src="~/images/icons/check-circle.svg" alt="check-circle" />
                    <p>Transparent work management</p>
                </div>

                <div class="manage-task">
                    <img src="~/images/icons/check-circle.svg" alt="check-circle" />
                    <p>Manage work & focus on the most important tasks</p>
                </div>

                <div class="manage-task">
                    <img src="~/images/icons/check-circle.svg" alt="check-circle" />
                    <p>Track your progress with interactive charts</p>
                </div>

                <div class="manage-task">
                    <img src="~/images/icons/check-circle.svg" alt="check-circle" />
                    <p>Easiest way to track time spent on tasks</p>
                </div>

            </div>

            <a class="learn-more btn-theme" asp-action="Home" asp-controller="Default">Learn more <i class="fa-sharp fa-solid fa-arrow-right"></i></a>

        </div>


    </div>

</section>